.fireMission {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;

  .header {
    display: flex;
    border-bottom: 1px solid #000;
    padding: 8px;
    justify-content: space-between;
    gap: 8px;

    .name {
      display: flex;
      gap: 8px;
      font-size: 18px;

      label {
        font-weight: bold;
      }
    }

    .buttons {
      display: flex;
      gap: 8px;
    }
  }

  @media only screen and (max-width: 600px) {
    .header {
      flex-direction: column;

      input {
        width: 100%;
      }

      .buttons {
        justify-content: flex-end;
      }
    }
  }

  .content {
    display: flex;
  }

  @media only screen and (max-width: 600px) {
    .content {
      flex-direction: column;
    }
  }

  .field {
    display: flex;
    justify-content: space-between;

    input {
      max-width: 60px;
    }

    @media only screen and (max-width: 600px) {
      input {
        max-width: 100px;
      }
    }
  }

  .elevation,
  .info,
  .main {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    gap: 4px;

    .heading {
      font-weight: bold;
      border-bottom: 1px solid #000;
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 8px;
      height: 100%;
    }
  }

  .main {
    border-left: 1px solid #000;
    border-right: 1px solid #000;

    .remarks {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px;
      gap: 4px;

      label {
        align-self: flex-start;
      }
      textarea {
        width: calc(100% - 16px);
        min-height: 50px;
      }
    }

    .formula {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 32px 8px;
      border-top: 1px solid #000;
    }
  }

  @media only screen and (max-width: 600px) {
    .elevation,
    .info,
    .main {
      width: 100%;
    }

    .main {
      border-left: none;
      border-right: none;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
    }
  }
}
