.app {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;

  @media only screen and (max-width: 600px) {
    .header {
      input {
        max-width: 130px;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    .search {
      display: flex;
      gap: 8px;
    }
  }

  .fireMissions {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .lastSaved {
    margin-top: auto;
  }
}

@media only screen and (max-width: 600px) {
  .app {
    min-width: unset;
  }
}
